<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit Report</h1>
    <form action="/TIFAC/<%= report.id %>?_method=PUT" method="POST">
        <fieldset>
            <label for="establishment">Establishment:</label>
            <input type="text" name="establishment" id="establishment" value="<%= report.establishment %>"/>

            <label for="location">Location</label>
            <input type="text" id="location" name="location" value="<%= report.location %>">

            <label for="date">Date:</label>
            <input type="date" name="date" id="date" value="<%= report.date %>"/>

            <label for="description">Description:</label>
            <textarea name="description" id="description"><%= report.description %></textarea>

            <label for="type">Type:</label>
            <input type="checkbox" id="option1" name="type" value="Ableism" 
            >
                <label for="option1">Ableism</label>
                <input type="checkbox" id="option2" name="type" value="Adultism" 
            >
                <label for="option2">Adultism</label>
                <input type="checkbox" id="option3" name="type" value="Ageism"
            >
                <label for="option3">Ageism</label>
                <input type="checkbox" id="option4" name="type" value="Antisemitism"
            >
                <label for="option4">Antisemitism</label>
                <input type="checkbox" id="option5" name="type" value="Anti-Asian"
            >
                <label for="option5">Anti-Asian</label>
                <input type="checkbox" id="option6" name="type" value="Anti-Black"
            >
                <label for="option6">Anti-Black</label>
                <input type="checkbox" id="option7" name="type" value="Anti-Indigenous"
            >
                <label for="option7">Anti-Indigenous</label>
                <input type="checkbox" id="option8" name="type" value="Antisemitism"
            >
                <label for="option8">Antisemitism</label>
                <input type="checkbox" id="option9" name="type" value="Classism"
            >
                <label for="option9">Classism</label>
                <input type="checkbox" id="option10" name="type" value="Colorism"
            >
                <label for="option10">Colorism</label>
                <input type="checkbox" id="option11" name="type" value="Domestic Terrorism"
            >
                <label for="option11">Domestic Terrorism</label>
                <input type="checkbox" id="option12" name="type" value="Fatphobia"
            >
                <label for="option12">Fatphobia</label>
                <input type="checkbox" id="option13" name="type" value="Homophobia"
            >
                <label for="option13">Homophobia</label>
                <input type="checkbox" id="option14" name="type" value="Islamophobia"
            >
                <label for="option14">Islamophobia</label>
                <input type="checkbox" id="option15" name="type" value="Misogynoir"
            >
                <label for="option15">Misogynoir</label>
                <input type="checkbox" id="option16" name="type" value="Racism"
            >
                <label for="option16">Racism</label>
                <input type="checkbox" id="option17" name="type" value="Sexism"
            >
                <label for="option17">Sexism</label>
                <input type="checkbox" id="option18" name="type" value="Transmisogyny"
            >
                <label for="option18">Transmisogyny</label>
                <input type="checkbox" id="option19" name="type" value="Transphobia"
            >
                <label for="option19">Transphobia</label>
                <input type="checkbox" id="option20" name="type" value="Xenophobia"
            >
                <label for="option20">Xenophobia</label>
                <input type="checkbox" id="option21" name="type" value="Other"
            >
                <label for="option21">Other</label>
            
        </fieldset>

        <input type="submit" name="" value="Save Changes"/>
    </form>
</body>
</html>