<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>TIFAC</title>
</head>
<body>
    <h1>Welcome to TIFAC</h1>
    <h2>Keeping the community informed and safe!</h2>
    <nav>
        <a href="/TIFAC/new">File a New Report</a>
    </nav>
    <span class="container">
        <% for (let i = 0; i < allReports.length; i++) { %>
            <div class='<%= allReports[i].establishment %>'>
                <a href="/TIFAC/<%= allReports[i].id %>">
                    <h3><%= allReports[i].establishment %></h3>
                </a>
            <h4><%= allReports[i].location %></h4>
            <h5><%= allReports[i].date %></h5>
            <h6><strong> <%= allReports[i].type %></strong></h6>
            <button><a href="/TIFAC/<%= allReports[i].id %>/edit">Edit Report</a></button>
            <form action="/TIFAC/<%= allReports[i].id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Report"/>
            </form>
            </div>
        <% } %>
    </span>
    <div id="map"></div>
</body>
</html>
