<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Incident Report</title>
</head>
<body>
    <div class="show" style="margin: 0 auto">
    <h1><%= report.establishment %></h1>
<h2><%= report.location %></h2>
<h3><%= report.date %></h3>
<p><%= report.description %></p>
<h6><strong> <%= report.type %></strong></h6>
</div>
<button>
    <a href="/TIFAC/"> 
    Back to Timeline
    </a>
</button>
</body>
</html>
